@{
  Layout = "_Layout";
}

@using SpacePort.Models;
@model SpacePort.Models.Port;

<h2>Edit @Html.DisplayFor(model => model.Name)</h2>

<h4>Edit this port:</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PortId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to ports", "Index")</p>